<h2>Car with ID {{car.id}}</h2>>
<table class= "table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Brand</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{car.id}} </td>
            <td> {{car.model}} </td>
            <td> {{car.brand}} </td>
            <td>
                <button routerLink="/update-car/{{car.id}}" class="btn btn-info"> EDIT </button>
                <button (click) = "deleteCar(car.id)" class="btn btn-danger" style="margin-left: 10px;"> DELETE </button>
                <button (click) = "carDetails(car.id)" class="btn btn-success" style="margin-left: 10px;"> DETAILS </button>
            </td>
        </tr>
    </tbody>
</table>