<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="cars" routerLinkActive="active" class="nav-link">Carlist <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="create-car" routerLinkActive="active" class="nav-link">Add Car</a>
        </li>
      </ul>
      <app-search-car></app-search-car>
    </div>
  </nav>

<h1>CarService Frontend</h1>
<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2020 @ Ilja Kalistratov - NTT Data</span>
    </div>
</footer>