<h3>View Car Details of Car {{car.id}}</h3> 
<div>
    <div>
        <label> <b>Model:</b> </label> {{car.model}}
    </div>
    <div>
        <label> <b>Marke:</b> </label> {{car.brand}}
    </div>
    <div>
        <label> <b>Leistung:</b> </label> {{car.leistung}}
    </div>
    <div>
        <label> <b>Baujahr:</b> </label> {{car.baujahr}}
    </div>
    <div>
        <label> <b>Motor:</b> </label> {{car.motor}}
    </div>
    <div>
        <label> <b>Verbrauch:</b> </label> {{car.verbrauch}}
    </div>
</div>